<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.permissions.dao.ResourcesDao" >

    <select id="getListByParentId" parameterType="int" resultType="com.warrior.permissions.entity.Resource">
        SELECT * FROM warrior.warrior_resources
        WHERE parentId = #{parentId}
    </select>

    <select id="getListByPage" parameterType="Map" resultType="com.warrior.permissions.entity.Resource">
        SELECT * FROM warrior.warrior_resources WHERE 1=1
        <if test="name != null">
            AND locate(#{name},resName) > 0
        </if>
        <if test="url != null">
            AND locate(#{url},url) > 0
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="isShow != null">
            AND isShow = #{isShow}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        ORDER BY parentId,sort ASC
    </select>
</mapper>