<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.permissions.dao.ResourcesDao" >

    <select id="getListByParentId" parameterType="int" resultType="com.warrior.permissions.entity.Resources">
        SELECT * FROM warrior.warrior_resources
        WHERE parent_id = #{parentId}
    </select>

    <select id="getListByPage" resultType="com.warrior.permissions.entity.Resources">
        SELECT wr.*,(SELECT res_name FROM warrior_resources where res_id = wr.parent_id) as parentName FROM warrior.warrior_resources wr
        <where>
            ${ew.sqlSegment}
        </where>
        ORDER BY parent_id,sort ASC
    </select>
</mapper>