<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.permissions.dao.RoleDao" >

    <select id="getRoleListByUser" parameterType="long" resultType="com.warrior.permissions.entity.Role">
        select wr.* from warrior_role wr
        left join warrior_user_role ur on ur.role_id = wr.rid
        where ur.user_id = #{uid}
    </select>

    <select id="getRoleList" resultType="com.warrior.permissions.entity.Role">
        SELECT * from warrior.warrior_role
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>