<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.common.dao.SysLogDao" >

    <select id="getListByPage" resultType="com.warrior.common.entity.SysLog">
        SELECT id,user_id,operation,method,params,time,ip,create_time,user_name FROM warrior_sys_log
        <where>
            ${ew.sqlSegment}
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>