<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.attachment.dao.AttachmentDao" >

    <select id="selectById" resultType="com.warrior.attachment.entity.Attachment">
        SELECT * FROM warrior_attachment WHERE aid = #{id}
    </select>

    <select id="getPageList" resultType="com.warrior.attachment.entity.Attachment">
        select * from warrior_attachment
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>